@import "tailwindcss";

:root {
    --background: #0f0f0f;
    --foreground: #f0f0f0;
    --font-lato: '';
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-lato), Arial, Helvetica, sans-serif;
}